.headerbar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px 16px 48px;
  background-color: #2a2a2a;
}

.headerbar-left-content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.routes-container {
  margin-left: 40px;
  display: flex;
  align-items: center;
  gap: 32px;
  a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      color: #E50915;
    }
  }
}

.profile-container {
  background-color: #E50915;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: #e83e46;
  }
  img {
    padding: 4px;
    height: 50px;
  }
}

.headerbar-right-content {
  display: flex;
  align-items: center;
  gap: 16px;
  input {
    height: 50px;
    width: 350px;
    border-radius: 8px;
    border: 1px solid #757575;
    padding: 16px;
    font-size: 18px;
    color: #757575;
    background-color: #2a2a2a;
    &::placeholder {
      font-size: 18px;
    }
    &:focus {
      outline: none;
    }
  }
}
