<div class="headerbar">
  <div class="headerbar-left-content">
    <span
      class="videoflix-logo"
      (click)="navigateToStartsite()"
      routerLink="/startsite"
      >Videoflix</span
    >
    <div class="routes-container">
      <a (click)="navigateToStartsite()" routerLink="/startsite">Startsite</a>
      <a routerLink="/new-video">New Video</a>
      <a routerLink="/imprint-privacypolicy">Imprint & Privacy Policy</a>
    </div>
  </div>
  <div class="headerbar-right-content">
    <div class="profile-container">
      <span id="usernameInitial">{{ usernameInitial }}</span>
    </div>
    <a (click)="logoutUser()">Logout</a>
  </div>
</div>
