<div class="videoflix-top-container">
  <span class="videoflix-logo">Videoflix</span>
  <div class="new-to-videoflix-container">
    <span>New to Videoflix?</span>
    <button>Sign up</button>
  </div>
</div>

<div class="position-container">
  <div class="login-container">
    <h2>Log In</h2>
    <form class="login-form">
      <input type="email" name="email" required placeholder="E-Mail" />
      <input type="password" name="password" required placeholder="Password" />
      <div class="login-button-container">
        <button>Log In</button>
        <button>Guest Log In</button>
      </div>
      <div class="login-checkbox-help-container">
        <div class="login-checkbox-container">
          <input type="checkbox" />
          <span>Remember me</span>
        </div>
        <span class="need-help">Need help?</span>
      </div>
    </form>
  </div>
</div>

<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
